# Dependencies
node_modules/

# Database
sanaiey.db
*.db
*.sqlite
*.sqlite3

# Uploaded files
uploads/
backups/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
